<div class="sm-container">
<h2><%= resource_name.to_s.humanize %> account details</h2>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>
      <%= f.input :address,
                  hint: "your new address",
                  required: false,
                  input_html: { autocomplete: "new-address" } %>

      <%= f.input :password,
                  hint: "change password",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  hint: "confirm change of password",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :current_password,
                  hint: "your current password to confirm your changes",
                  required: true,
                  input_html: { autocomplete: "current-password" } %>
      <%= f.input :userphoto, as: :file %>
    </div>

    <div class="form-actions foot-links">
      <%= f.button :submit, "Update", class: "btn-pink" %>
      <p class="cancel-link"><%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "We are sorry to hear you want to go. Are you sure you want to cancel your account?" }, method: :delete %></p>
    </div>
  <% end %>
</div>

<div class= "sm-container">
 <%= link_to "Back", :back %>
</div>
