<nav class="navbar navbar-expand-lg navbar-light inner-navbar">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "bread.png" %>
  <% end %>
  <% if user_signed_in? %>
    <%= link_to cart_path(current_user.cart), class: "ml-auto" do %>
      <%= image_tag "bag.png" %>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <% if current_user.userphoto.attached? %>
        <%= cl_image_tag current_user.userphoto.key, class: "avatar avatar-bordered" %>
      <% else %>
        <%= image_tag "default_profile_pic.jpg", alt: "Profile Pic", class: "avatar avatar-bordered" %>
      <% end %>
    </button>
  <% else %>
    <ul class="navbar-nav ml-auto d-inline-block">
        <li class="nav-item">
          <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-orange" %>
          <%= link_to "Log In", new_user_session_path, class: "btn btn-pink" %>
        </li>
    </ul>
  <% end %>
  
  <% if user_signed_in? %>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <% if current_user.seller %>
            <li class="nav-item"><%= link_to "Add a new product", new_product_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "Your Products", my_products_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to "Your Sales", my_sales_path, class: "nav-link" %></li>
          <% end %>
          <li class="nav-item">
            <%= link_to "Your Orders", orders_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Account
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <%= link_to "Account details", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
      </ul>
    </div>
  <% end %>
</nav>