<div class="outer-container">
  <h1>My Orders</h1>
  <% @orders.each do |order| %>
    <div class="order-card">
      <%= cl_image_tag order.product.photo.key, height: 300, width: 400, crop: :fill, class: "product-img" %>
      <div class="card-content">
        <p class="card-title"><%= order.product.name %></p>
        <p>Quantity: <strong><%= order.quantity %></strong></p>
        <p>Delivery address: <strong><%= order.address %></strong></p>
        <p class="status">Status: <strong><%= order.status %></strong></p>
      <% if order.review %>
          <p>Review: <%= order.review.content %> ,<strong><%= order.review.rating %></strong> ★</p>
      <% end %>
      </div>
      <%= link_to "Add Review", new_order_review_path(order), class: "btn-orange review-btn" %>
    </div>
  <% end %>
</div>

