<div class="outer-container">
  <h1>My Orders</h1>
  <% @orders.each do |order| %>
    <div class="order-card">
      <% if order.product.photo.attached? %>
        <%= cl_image_tag order.product.photo.key, height: 300, width: 400, crop: :fill %>
      <% else %>
        <img src="https://source.unsplash.com/random/300x300">
      <% end %>
      <div class="card-content">
        <p class="card-title"><%= order.product.name %></p>
        <p><strong>Delivery address: </strong><%= order.user.address %></p>
        <p class="status"><%= order.status %></p>
        <%= link_to "Add Review", new_product_order_review_path(order.product, order) %>
      </div>
    </div>
  <% end %>
</div>
