<div class="sm-container">
  <%= link_to "< Back", product_path(@product), class: "btn-muted" %>
</div>
<div class="sm-container mb-4">
  <div class="order-form">
    <h1>New Order</h1>
    <div class="order-product">
      <%= cl_image_tag @product.photo.key, alt: @product.name %>
      <div class="content">
        <p>Item: <strong><%= @product.name %></strong></p>
        <p>Price: <strong>$<%= @product.price %></strong></p>
      </div>
    </div>
    <h2>Order details</h2>
    <%= simple_form_for [@product, @order] do |f| %>
      <% if current_user.nil? %>
        <%= f.input :name, label: 'Name: ' %>
      <% else %>
        <%= f.input :name, label: 'Name: ', input_html: { value: current_user.username } %>
      <% end %>
      <%= f.input :contact, label: 'Phone Number: ', input_html: { type: 'tel' } %>
      <%= f.input :email, label: 'Email: ' %>
      <%= f.input :quantity, label: 'Quantity: ', input_html: { type: 'number' } %>
      <%= f.input :delivery, label: 'Delivery / Self Collect: ', as: :radio_buttons, collection: %w[delivery self-collection] %>
      <p id="self_collect_address">Self-collection Address: <strong><%= @product.user.address %></strong></p>
      <%= f.input :address, label: 'Delivery Address: ' %>
      <%= f.button :submit, 'Submit Order', class: "btn-orange" %>
    <% end %>
  </div>
</div>
<%= javascript_pack_tag 'delivery_display' %>