<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
  Product index page
</div>

<div class="container">
  <% @products.each do |product| %>
    <a href="<%= product_path(product) %>">
      <div class="card-product">
        <div class="card-user">
          <%= product.user.username %>
        </div>
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <div class="card-description">
            <p class="card-title"><%= product.name %></p>
            <p class="card-address"><%= product.user.address %></p>
          </div>
          <div class="card-price">
            <p class="price"><%="$#{product.price}"%></p>
          </div>
        </div>
      </div>
   </a>
  <% end %>
</div>