<div class="lg-container">
  <%= link_to "< View more products", root_path, class: "btn-muted" %>
</div>

<div class="split-container">
  <div class="left-container">
    <% if @product.photo.attached? %>
      <%= cl_image_tag @product.photo.key, height: 300, width: 400, crop: :fill %>
    <% else %>
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <% end %>
  </div>
  <div class="right-container">
    <div class="card-product-infos">
      <p class="card-title"><h1><%= @product.name %></h1></p>
      <div class="card-price">
        <h4>$<%=@product.price%></h4>
      </div>
      <div class="address">
        <h3>Address</h3>
        <p class="card-address"><%= @product.user.address %></p>
      </div>
      <div class="description">
        <h3>Description</h3>
        <p class="card-description"><%= @product.description %></p>
      </div>
      <%= link_to "Order now", new_product_order_path(@product), class: "btn-orange" %>
    </div>
  </div>
</div>

<div class="lg-container">
  <% if policy(@product).edit? %>
    <%= link_to "Remove", product_path(@product), class: "btn btn-pink", method: :delete, data: { confirm: "Are you sure? All orders on this product will be destroyed." } %>
  <% end %>
  <% if policy(@product).destroy? %>
    <%= link_to "Edit", edit_product_path(@product), class: "btn btn-orange" %>
  <% end %>
</div>
