<!DOCTYPE html>
<html>
  <head>
    <title>Kampung Bakes</title>
    <%= favicon_link_tag 'favicon.png', type: 'image/png' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

   <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div class="outer-container">
      <p class="alert"><%= alert %></p>
    </div>
    <%= render 'shared/flashes' %>
    <%= render 'shared/navbar' %>
      
    <%= yield %>
    
    <%= render 'shared/footer' %>
  </body>
</html>
